<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeWeather data service 3.0</key>
	<array>
		<dict>
			<key>aqi</key>
			<dict>
				<key>city</key>
				<dict>
					<key>aqi</key>
					<string>104</string>
					<key>co</key>
					<string>1</string>
					<key>no2</key>
					<string>20</string>
					<key>o3</key>
					<string>194</string>
					<key>pm10</key>
					<string>55</string>
					<key>pm25</key>
					<string>60</string>
					<key>qlty</key>
					<string>良</string>
					<key>so2</key>
					<string>10</string>
				</dict>
			</dict>
			<key>basic</key>
			<dict>
				<key>city</key>
				<string>北京</string>
				<key>cnty</key>
				<string>中国</string>
				<key>id</key>
				<string>CN101010100</string>
				<key>lat</key>
				<string>39.904000</string>
				<key>lon</key>
				<string>116.391000</string>
				<key>update</key>
				<dict>
					<key>loc</key>
					<string>2016-05-28 13:51</string>
					<key>utc</key>
					<string>2016-05-28 05:51</string>
				</dict>
			</dict>
			<key>daily_forecast</key>
			<array>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:49</string>
						<key>ss</key>
						<string>19:33</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>101</string>
						<key>code_n</key>
						<string>100</string>
						<key>txt_d</key>
						<string>多云</string>
						<key>txt_n</key>
						<string>晴</string>
					</dict>
					<key>date</key>
					<string>2016-05-28</string>
					<key>hum</key>
					<string>16</string>
					<key>pcpn</key>
					<string>0.0</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1005</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>30</string>
						<key>min</key>
						<string>17</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>192</string>
						<key>dir</key>
						<string>无持续风向</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>3</string>
					</dict>
				</dict>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:49</string>
						<key>ss</key>
						<string>19:34</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>100</string>
						<key>code_n</key>
						<string>100</string>
						<key>txt_d</key>
						<string>晴</string>
						<key>txt_n</key>
						<string>晴</string>
					</dict>
					<key>date</key>
					<string>2016-05-29</string>
					<key>hum</key>
					<string>11</string>
					<key>pcpn</key>
					<string>0.0</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1007</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>31</string>
						<key>min</key>
						<string>17</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>11</string>
						<key>dir</key>
						<string>北风</string>
						<key>sc</key>
						<string>3-4</string>
						<key>spd</key>
						<string>12</string>
					</dict>
				</dict>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:48</string>
						<key>ss</key>
						<string>19:35</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>100</string>
						<key>code_n</key>
						<string>104</string>
						<key>txt_d</key>
						<string>晴</string>
						<key>txt_n</key>
						<string>阴</string>
					</dict>
					<key>date</key>
					<string>2016-05-30</string>
					<key>hum</key>
					<string>17</string>
					<key>pcpn</key>
					<string>0.3</string>
					<key>pop</key>
					<string>36</string>
					<key>pres</key>
					<string>1000</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>33</string>
						<key>min</key>
						<string>24</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>187</string>
						<key>dir</key>
						<string>无持续风向</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>3</string>
					</dict>
				</dict>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:48</string>
						<key>ss</key>
						<string>19:36</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>104</string>
						<key>code_n</key>
						<string>100</string>
						<key>txt_d</key>
						<string>阴</string>
						<key>txt_n</key>
						<string>晴</string>
					</dict>
					<key>date</key>
					<string>2016-05-31</string>
					<key>hum</key>
					<string>16</string>
					<key>pcpn</key>
					<string>0.0</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1010</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>28</string>
						<key>min</key>
						<string>18</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>127</string>
						<key>dir</key>
						<string>无持续风向</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>2</string>
					</dict>
				</dict>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:47</string>
						<key>ss</key>
						<string>19:36</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>100</string>
						<key>code_n</key>
						<string>100</string>
						<key>txt_d</key>
						<string>晴</string>
						<key>txt_n</key>
						<string>晴</string>
					</dict>
					<key>date</key>
					<string>2016-06-01</string>
					<key>hum</key>
					<string>12</string>
					<key>pcpn</key>
					<string>0.0</string>
					<key>pop</key>
					<string>1</string>
					<key>pres</key>
					<string>1011</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>31</string>
						<key>min</key>
						<string>20</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>208</string>
						<key>dir</key>
						<string>无持续风向</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>7</string>
					</dict>
				</dict>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:47</string>
						<key>ss</key>
						<string>19:37</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>100</string>
						<key>code_n</key>
						<string>104</string>
						<key>txt_d</key>
						<string>晴</string>
						<key>txt_n</key>
						<string>阴</string>
					</dict>
					<key>date</key>
					<string>2016-06-02</string>
					<key>hum</key>
					<string>9</string>
					<key>pcpn</key>
					<string>0.0</string>
					<key>pop</key>
					<string>1</string>
					<key>pres</key>
					<string>1007</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>31</string>
						<key>min</key>
						<string>20</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>205</string>
						<key>dir</key>
						<string>无持续风向</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>9</string>
					</dict>
				</dict>
				<dict>
					<key>astro</key>
					<dict>
						<key>sr</key>
						<string>04:46</string>
						<key>ss</key>
						<string>19:38</string>
					</dict>
					<key>cond</key>
					<dict>
						<key>code_d</key>
						<string>104</string>
						<key>code_n</key>
						<string>101</string>
						<key>txt_d</key>
						<string>阴</string>
						<key>txt_n</key>
						<string>多云</string>
					</dict>
					<key>date</key>
					<string>2016-06-03</string>
					<key>hum</key>
					<string>7</string>
					<key>pcpn</key>
					<string>0.0</string>
					<key>pop</key>
					<string>2</string>
					<key>pres</key>
					<string>1005</string>
					<key>tmp</key>
					<dict>
						<key>max</key>
						<string>29</string>
						<key>min</key>
						<string>19</string>
					</dict>
					<key>vis</key>
					<string>10</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>202</string>
						<key>dir</key>
						<string>无持续风向</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>6</string>
					</dict>
				</dict>
			</array>
			<key>hourly_forecast</key>
			<array>
				<dict>
					<key>date</key>
					<string>2016-05-28 13:00</string>
					<key>hum</key>
					<string>18</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1005</string>
					<key>tmp</key>
					<string>33</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>193</string>
						<key>dir</key>
						<string>西南风</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>15</string>
					</dict>
				</dict>
				<dict>
					<key>date</key>
					<string>2016-05-28 16:00</string>
					<key>hum</key>
					<string>16</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1003</string>
					<key>tmp</key>
					<string>33</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>186</string>
						<key>dir</key>
						<string>南风</string>
						<key>sc</key>
						<string>3-4</string>
						<key>spd</key>
						<string>17</string>
					</dict>
				</dict>
				<dict>
					<key>date</key>
					<string>2016-05-28 19:00</string>
					<key>hum</key>
					<string>22</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1003</string>
					<key>tmp</key>
					<string>31</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>187</string>
						<key>dir</key>
						<string>南风</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>14</string>
					</dict>
				</dict>
				<dict>
					<key>date</key>
					<string>2016-05-28 22:00</string>
					<key>hum</key>
					<string>36</string>
					<key>pop</key>
					<string>0</string>
					<key>pres</key>
					<string>1004</string>
					<key>tmp</key>
					<string>29</string>
					<key>wind</key>
					<dict>
						<key>deg</key>
						<string>186</string>
						<key>dir</key>
						<string>南风</string>
						<key>sc</key>
						<string>微风</string>
						<key>spd</key>
						<string>7</string>
					</dict>
				</dict>
			</array>
			<key>now</key>
			<dict>
				<key>cond</key>
				<dict>
					<key>code</key>
					<string>101</string>
					<key>txt</key>
					<string>多云</string>
				</dict>
				<key>fl</key>
				<string>28</string>
				<key>hum</key>
				<string>26</string>
				<key>pcpn</key>
				<string>0</string>
				<key>pres</key>
				<string>1005</string>
				<key>tmp</key>
				<string>29</string>
				<key>vis</key>
				<string>10</string>
				<key>wind</key>
				<dict>
					<key>deg</key>
					<string>180</string>
					<key>dir</key>
					<string>南风</string>
					<key>sc</key>
					<string>5-6</string>
					<key>spd</key>
					<string>31</string>
				</dict>
			</dict>
			<key>status</key>
			<string>ok</string>
			<key>suggestion</key>
			<dict>
				<key>comf</key>
				<dict>
					<key>brf</key>
					<string>较不舒适</string>
					<key>txt</key>
					<string>白天天气多云，同时会感到有些热，不很舒适。</string>
				</dict>
				<key>cw</key>
				<dict>
					<key>brf</key>
					<string>较适宜</string>
					<key>txt</key>
					<string>较适宜洗车，未来一天无雨，风力较小，擦洗一新的汽车至少能保持一天。</string>
				</dict>
				<key>drsg</key>
				<dict>
					<key>brf</key>
					<string>热</string>
					<key>txt</key>
					<string>天气热，建议着短裙、短裤、短薄外套、T恤等夏季服装。</string>
				</dict>
				<key>flu</key>
				<dict>
					<key>brf</key>
					<string>少发</string>
					<key>txt</key>
					<string>各项气象条件适宜，发生感冒机率较低。但请避免长期处于空调房间中，以防感冒。</string>
				</dict>
				<key>sport</key>
				<dict>
					<key>brf</key>
					<string>较适宜</string>
					<key>txt</key>
					<string>天气较好，户外运动请注意防晒。推荐您进行室内运动。</string>
				</dict>
				<key>trav</key>
				<dict>
					<key>brf</key>
					<string>适宜</string>
					<key>txt</key>
					<string>天气较好，但丝毫不会影响您的心情。微风，虽天气稍热，却仍适宜旅游，不要错过机会呦！</string>
				</dict>
				<key>uv</key>
				<dict>
					<key>brf</key>
					<string>中等</string>
					<key>txt</key>
					<string>属中等强度紫外线辐射天气，外出时建议涂擦SPF高于15、PA+的防晒护肤品，戴帽子、太阳镜。</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
